<a href="https://colab.research.google.com/github/ajithajith72389/Video-Game-Sales-Analysis/blob/main/Video_Game_Sales_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
import numpy as np
from sklearn.impute import  SimpleImputer

In [5]:
data = pd.read_csv('/content/vgchartz-2024.csv')

In [6]:
data.shape

(64016, 14)

In [7]:
data.head()

,img,title,console,genre,publisher,developer,critic_score,total_sales,na_sales,jp_sales,pal_sales,other_sales,release_date,last_update
0,/games/boxart/full_6510540AmericaFrontccc.jpg,Grand Theft Auto V,PS3,Action,Rockstar Games,Rockstar North,9.4,20.32,6.37,0.99,9.85,3.12,2013-09-17,NaN
1,/games/boxart/full_5563178AmericaFrontccc.jpg,Grand Theft Auto V,PS4,Action,Rockstar Games,Rockstar North,9.7,19.39,6.06,0.60,9.71,3.02,2014-11-18,2018-01-03
2,/games/boxart/827563ccc.jpg,Grand Theft Auto: Vice City,PS2,Action,Rockstar Games,Rockstar North,9.6,16.15,8.41,0.47,5.49,1.78,2002-10-28,NaN
3,/games/boxart/full_9218923AmericaFrontccc.jpg,Grand Theft Auto V,X360,Action,Rockstar Games,Rockstar North,NaN,15.86,9.06,0.06,5.33,1.42,2013-09-17,NaN
4,/games/boxart/full_4990510AmericaFrontccc.jpg,Call of Duty: Black Ops 3,PS4,Shooter,Activision,Treyarch,8.1,15.09,6.18,0.41,6.05,2.44,2015-11-06,2018-01-14

## Data Cleaning

In [8]:
data.drop(columns= 'img', inplace = True)

In [9]:
data.columns

Index(['title', 'console', 'genre', 'publisher', 'developer', 'critic_score',
       'total_sales', 'na_sales', 'jp_sales', 'pal_sales', 'other_sales',
       'release_date', 'last_update'],
      dtype='object')

In [10]:
# Checking null values
data.isna().sum()

title               0
console             0
genre               0
publisher           0
developer          17
critic_score    57338
total_sales     45094
na_sales        51379
jp_sales        57290
pal_sales       51192
other_sales     48888
release_date     7051
last_update     46137
dtype: int64

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64016 entries, 0 to 64015
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         64016 non-null  object
 1   console       64016 non-null  object
 2   genre         64016 non-null  object
 3   publisher     64016 non-null  object
 4   developer     63999 non-null  object
 5   critic_score  6678 non-null   float64
 6   total_sales   18922 non-null  float64
 7   na_sales      12637 non-null  float64
 8   jp_sales      6726 non-null   float64
 9   pal_sales     12824 non-null  float64
 10  other_sales   15128 non-null  float64
 11  release_date  56965 non-null  object
 12  last_update   17879 non-null  object
dtypes: float64(6), object(7)
memory usage: 6.3+ MB

Handling Null values

In [12]:
nums_col = data.select_dtypes(include= np.number).columns.tolist()

In [13]:
nums_col

['critic_score',
 'total_sales',
 'na_sales',
 'jp_sales',
 'pal_sales',
 'other_sales']

In [14]:
# Imputation
imputer = SimpleImputer( strategy='mean')
data[nums_col] = imputer.fit_transform(data[nums_col])

In [15]:
data.isna().sum()

title               0
console             0
genre               0
publisher           0
developer          17
critic_score        0
total_sales         0
na_sales            0
jp_sales            0
pal_sales           0
other_sales         0
release_date     7051
last_update     46137
dtype: int64

In [16]:
# Handling Object Datatype
data['release_date'] = pd.to_datetime(data['release_date'])
data['last_update'] = pd.to_datetime(data['last_update'])

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64016 entries, 0 to 64015
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         64016 non-null  object
 1   console       64016 non-null  object
 2   genre         64016 non-null  object
 3   publisher     64016 non-null  object
 4   developer     63999 non-null  object
 5   critic_score  64016 non-null  float64
 6   total_sales   64016 non-null  float64
 7   na_sales      64016 non-null  float64
 8   jp_sales      64016 non-null  float64
 9   pal_sales     64016 non-null  float64
 10  other_sales   64016 non-null  float64
 11  release_date  56965 non-null  datetime64[ns]
 12  last_update   17879 non-null  datetime64[ns]
dtypes: datetime64[ns](2), float64(6), object(5)
memory usage: 6.3+ MB

In [18]:
data['release_date'].fillna(data['release_date'].median(), inplace = True)
data['last_update'].fillna(data['last_update'].median(), inplace = True)

In [19]:
data.isna().sum()

title            0
console          0
genre            0
publisher        0
developer       17
critic_score     0
total_sales      0
na_sales         0
jp_sales         0
pal_sales        0
other_sales      0
release_date     0
last_update      0
dtype: int64

In [20]:
data.dropna(inplace= True)

In [21]:
data.isna().sum()

title           0
console         0
genre           0
publisher       0
developer       0
critic_score    0
total_sales     0
na_sales        0
jp_sales        0
pal_sales       0
other_sales     0
release_date    0
last_update     0
dtype: int64

In [22]:
data.head()

,title,console,genre,publisher,developer,critic_score,total_sales,na_sales,jp_sales,pal_sales,other_sales,release_date,last_update
0,Grand Theft Auto V,PS3,Action,Rockstar Games,Rockstar North,9.40000,20.32,6.37,0.99,9.85,3.12,2013-09-17,2019-04-21
1,Grand Theft Auto V,PS4,Action,Rockstar Games,Rockstar North,9.70000,19.39,6.06,0.60,9.71,3.02,2014-11-18,2018-01-03
2,Grand Theft Auto: Vice City,PS2,Action,Rockstar Games,Rockstar North,9.60000,16.15,8.41,0.47,5.49,1.78,2002-10-28,2019-04-21
3,Grand Theft Auto V,X360,Action,Rockstar Games,Rockstar North,7.22044,15.86,9.06,0.06,5.33,1.42,2013-09-17,2019-04-21
4,Call of Duty: Black Ops 3,PS4,Shooter,Activision,Treyarch,8.10000,15.09,6.18,0.41,6.05,2.44,2015-11-06,2018-01-14

In [23]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 63999 entries, 0 to 64015
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         63999 non-null  object
 1   console       63999 non-null  object
 2   genre         63999 non-null  object
 3   publisher     63999 non-null  object
 4   developer     63999 non-null  object
 5   critic_score  63999 non-null  float64
 6   total_sales   63999 non-null  float64
 7   na_sales      63999 non-null  float64
 8   jp_sales      63999 non-null  float64
 9   pal_sales     63999 non-null  float64
 10  other_sales   63999 non-null  float64
 11  release_date  63999 non-null  datetime64[ns]
 12  last_update   63999 non-null  datetime64[ns]
dtypes: datetime64[ns](2), float64(6), object(5)
memory usage: 6.8+ MB

In [24]:
data['jp_sales'] = pd.to_numeric(data['jp_sales'])

In [25]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 63999 entries, 0 to 64015
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         63999 non-null  object
 1   console       63999 non-null  object
 2   genre         63999 non-null  object
 3   publisher     63999 non-null  object
 4   developer     63999 non-null  object
 5   critic_score  63999 non-null  float64
 6   total_sales   63999 non-null  float64
 7   na_sales      63999 non-null  float64
 8   jp_sales      63999 non-null  float64
 9   pal_sales     63999 non-null  float64
 10  other_sales   63999 non-null  float64
 11  release_date  63999 non-null  datetime64[ns]
 12  last_update   63999 non-null  datetime64[ns]
dtypes: datetime64[ns](2), float64(6), object(5)
memory usage: 6.8+ MB

In [26]:
data.isna().sum()

title           0
console         0
genre           0
publisher       0
developer       0
critic_score    0
total_sales     0
na_sales        0
jp_sales        0
pal_sales       0
other_sales     0
release_date    0
last_update     0
dtype: int64

### EDA

### 1. Which titles sold the most worldwide?