<a href="https://colab.research.google.com/github/ajithajith72389/Video-Game-Sales-Analysis/blob/main/Video_Game_Sales_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
import pandas as pd
import numpy as np
from sklearn.impute import  SimpleImputer

In [ ]:
data = pd.read_csv('/content/vgchartz-2024.csv')

<ipython-input-3-9562648d3d60>:1: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('/content/vgchartz-2024.csv')

In [4]:
data.shape

(70842, 14)

In [6]:
data.head()

,img,title,console,genre,publisher,developer,critic_score,total_sales,na_sales,jp_sales,pal_sales,other_sales,release_date,last_update
0,/games/boxart/full_6510540AmericaFrontccc.jpg,Grand Theft Auto V,PS3,Action,Rockstar Games,Rockstar North,9.4,20.32,6.37,0.99,9.85,3.12,2013-09-17,NaN
1,/games/boxart/full_5563178AmericaFrontccc.jpg,Grand Theft Auto V,PS4,Action,Rockstar Games,Rockstar North,9.7,19.39,6.06,0.6,9.71,3.02,2014-11-18,2018-01-03
2,/games/boxart/827563ccc.jpg,Grand Theft Auto: Vice City,PS2,Action,Rockstar Games,Rockstar North,9.6,16.15,8.41,0.47,5.49,1.78,2002-10-28,NaN
3,/games/boxart/full_9218923AmericaFrontccc.jpg,Grand Theft Auto V,X360,Action,Rockstar Games,Rockstar North,NaN,15.86,9.06,0.06,5.33,1.42,2013-09-17,NaN
4,/games/boxart/full_4990510AmericaFrontccc.jpg,Call of Duty: Black Ops 3,PS4,Shooter,Activision,Treyarch,8.1,15.09,6.18,0.41,6.05,2.44,2015-11-06,2018-01-14

## Data Cleaning

In [7]:
data.drop(columns= 'img', inplace = True)

In [10]:
data.columns

Index(['title', 'console', 'genre', 'publisher', 'developer', 'critic_score',
       'total_sales', 'na_sales', 'jp_sales', 'pal_sales', 'other_sales',
       'release_date', 'last_update'],
      dtype='object')

In [12]:
# Checking null values
data.isna().sum()

title               0
console             0
genre               1
publisher           1
developer          19
critic_score    63801
total_sales     51920
na_sales        58205
jp_sales        64115
pal_sales       58018
other_sales     55714
release_date     7960
last_update     50917
dtype: int64

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70842 entries, 0 to 70841
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         70842 non-null  object
 1   console       70842 non-null  object
 2   genre         70841 non-null  object
 3   publisher     70841 non-null  object
 4   developer     70823 non-null  object
 5   critic_score  7041 non-null   float64
 6   total_sales   18922 non-null  float64
 7   na_sales      12637 non-null  float64
 8   jp_sales      6727 non-null   object
 9   pal_sales     12824 non-null  float64
 10  other_sales   15128 non-null  float64
 11  release_date  62882 non-null  object
 12  last_update   19925 non-null  object
dtypes: float64(5), object(8)
memory usage: 7.0+ MB

Handling Null values

In [15]:
nums_col = data.select_dtypes(include= np.number).columns.tolist()

In [16]:
nums_col

['critic_score', 'total_sales', 'na_sales', 'pal_sales', 'other_sales']

In [19]:
# Imputation
imputer = SimpleImputer( strategy='mean')
data[nums_col] = imputer.fit_transform(data[nums_col])

In [20]:
data.isna().sum()

title               0
console             0
genre               1
publisher           1
developer          19
critic_score        0
total_sales         0
na_sales            0
jp_sales        64115
pal_sales           0
other_sales         0
release_date     7960
last_update     50917
dtype: int64